.Settings__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Settings__inner_container {
  margin-top: 20px;
  max-width: 800px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Settings__row {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Settings__row__name {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Settings__input__container {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.Settings__input {
}

.Settings__submit__button {
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight: 700;
}
.Settings__submit__button:hover {
  background-color: magenta;
}
