hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

.Form__Container {
  max-width: 960px;
  margin: 0 auto;
}
.Form__Rack {
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 16px;
  .Button {
    display: block;
  }
}
.Form__Cell {
  margin-bottom: 16px;
}
.Form__Doubles {
  width: 100%;
  max-width: 600px;
  display: flex;
  margin-bottom: 16px;
}
.Form__Half {
  flex: 1;
  margin-right: 8px;
}
.Input__Label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}
.Input__Area {
  display: block;
  padding: 0 12px;
  height: 200px;
  width: calc(100% - 24px);
  max-width: 376px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12),
    0 10px 16px -4px rgba(0, 0, 0, 0.02);
  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px #305ed4, 0 10px 16px -4px rgba(0, 0, 0, 0.02);
  }
}

.Input__Text {
  display: block;
  padding: 0 12px;
  height: 38px;
  width: calc(100% - 24px);
  max-width: 376px;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12),
    0 10px 16px -4px rgba(0, 0, 0, 0.02);
  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px #305ed4, 0 10px 16px -4px rgba(0, 0, 0, 0.02);
  }
}
