.card {
    width: 15em;
    height: 15em;
    border-color: black; 
    border-style: solid;
    border-width: 0.9em;
    margin-left: 3em;
    border-radius: 2em;
    text-align: center
  }
  
.card:active { 
    border-color: yellow;
}
  