.card {
  width: 15em;
  height: 15em;
  border-color: black;
  border-style: solid;
  border-width: 0.9em;
  margin-left: 3em;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}

.card-selected {
  border: 1px solid yellow;
}
