.dashboard-inner {
  align-content: center;
  margin: 0 auto;
  margin-left: 0 auto;
  text-align: center;
  &-alt {
    min-width: 800px;
  }
}
.dashboard-main {
  margin: 0 auto;
  max-width: 960px;
}

.Form__Rack {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.Box {
  box-shadow: 0 0 8px rgba(173, 172, 179, 1);
}

.Box__Tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f0f0f0;
}

.Tab__single {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  padding: 0 3px;
}

.Tab__single__active {
  border-bottom: 3px solid rgba(48, 94, 212, 1);
}

.Tab__text {
  padding-bottom: 2px;
  margin-bottom: 0;
  font-weight: 500;
  color: grey;
}

.Tab__text__active {
  color: rgba(48, 94, 212, 1);
  font-weight: 700;
}

.doctor__content {
  margin-top: 25px;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.search-button {
  margin-top: 3em;
  width: 13em;
  height: 2.2em;
  color: black;
}

.bg-search-button {
  background-color: white;
  width: 25em;
  align-self: auto;
  border-color: #0076ba;
  border-width: 0.07em;
  border-style: solid;
}

.bg-search-button:hover {
  background-color: rgb(140, 180, 220);
  margin: 2em black;
}

.patient-display {
  margin-top: 2em;
}

.separator {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  margin: 20px 0;
}

.HealthRecord__cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.HealthRecord__key {
  background-color: #b2c2ce;
  color: white;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.HealthRecord__key_sep {
  background-color: white;
  width: 300px;
  height: 2px;
}

.HealthRecord__value_sep {
  background-color: #b2c2ce;
  width: 100%;
  height: 1px;
}

.HealthRecord__key__text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HealthRecord__value {
  width: 100%;
  height: 100%;
}

.HealthRecord__Input {
  width: 100%;
  height: 38px;
  border: 1px solid #b2c2ce;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
