.record-select {
  align-content: center;
  margin: 0 auto;
  margin-top: 3em;
}

.search-button {
  margin-top: 3em;
  width: 13em;
  height: 2.2em;
  background-color:rgb(151, 198, 230);
}

.patient-display {
  margin-top: 2em;
}
