.doctor-inner {
  align-content: center;
  margin: 0 auto;
  margin-top: 3em;
  margin-left: 0 auto;
  text-align: center;
  &-alt {
    padding-top: 3em;
    min-width: 800px;
  }
}
.doctor-main {
  margin: 0 auto;
  max-width: 960px;
}

.Form__Rack {
  padding-bottom: 16px;
  // border-bottom: 1px solid #f0f0f0;
  margin-bottom: 16px;
}

.Box__Tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f0f0f0;
}

.Tab__single {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  padding: 0 3px;
}

.Tab__single__active {
  border-bottom: 3px solid rgba(48, 94, 212, 1);
}

.Tab__text {
  padding-bottom: 2px;
  margin-bottom: 0;
  font-weight: 500;
  color: grey;
}

.Tab__text__active {
  color: rgba(48, 94, 212, 1);
  font-weight: 700;
}

.doctor__content {
  margin-top: 25px;
}

.doctor-layout {
  display: flex;
  height: calc(100vh - 56px - 56px);
  flex-direction: row;
  justify-content: space-between;
}

.search-button {
  margin-top: 3em;
  width: 13em;
  height: 2.2em;
  color: black;
}

.bg-search-button {
  background-color: white;
  width: 25em;
  align-self: auto;
  border-color: #0076ba;
  border-width: 0.07em;
  border-style: solid;
}

.bg-search-button:hover {
  background-color: rgb(140, 180, 220);
  margin: 2em black;
}

.patient-display {
  margin-top: 2em;
}

.separator {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  margin: 20px 0;
}
