.patient-view-container {
  display: flex;
  flex-direction: row;
}

.patient-img {
  width: 150px;
}
.patient-view-column {
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 50%;
}
